.mine 
    width 100%
    height 100%
    background-color #eee
    position absolute
    top 0
    left 0
    padding 40rpx
    box-sizing border-box
    margin-bottom 100rpx
.outside-box
    background-color #fff
    border-radius 10rpx
    padding 40rpx

.mb30
    margin-bottom 30rpx
.mb40
    margin-bottom 40rpx
.userIcon 
    width 200rpx 
    height 200rpx
    background-color #eeeeee
    border: 2rpx solid #ccc
    box-sizing border-box
    margin-right 20rpx
    border-radius: 50%
    overflow hidden
.img
    width 100%
    height 100%
    display block
.userName
    margin-top 20px
    font-family '微软雅黑'
.idNumber
    margin-top 20px
    font-size 28px
    color #979797
    font-family '微软雅黑'
.flex
    display: flex
.flex-1
    flex 1
.faic
    align-items: center
.qrimg
    width 600rpx
    height  600rpx
    display block
    margin: 0 auto
.tips
    text-align: center
    font-size: 22rpx
    color: #979797